In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\SHIVBASAV\\Downloads\\mt_cars-missing.csv")

In [3]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2

In [6]:
df.isnull().sum()

model    0
mpg      5
cyl      0
disp     8
hp       7
drat     6
wt       4
qsec     1
vs       0
am       0
gear     0
carb     0
dtype: int64

In [7]:
round(100*(df.isnull().sum()/len(df.index)),2)

model     0.00
mpg      15.62
cyl       0.00
disp     25.00
hp       21.88
drat     18.75
wt       12.50
qsec      3.12
vs        0.00
am        0.00
gear      0.00
carb      0.00
dtype: float64

In [8]:
df=df.drop('disp',axis=1)
df=df.drop('hp',axis=1)
df=df.drop('drat',axis=1)

round(100*(df.isnull().sum()/len(df.index)),2)

model     0.00
mpg      15.62
cyl       0.00
wt       12.50
qsec      3.12
vs        0.00
am        0.00
gear      0.00
carb      0.00
dtype: float64

In [9]:
df=df[~np.isnan(df['mpg'])]

In [10]:
df.shape

(27, 9)

In [11]:
round(100*(df.isnull().sum()/len(df.index)),2)

model     0.00
mpg       0.00
cyl       0.00
wt       11.11
qsec      3.70
vs        0.00
am        0.00
gear      0.00
carb      0.00
dtype: float64

In [14]:
df['wt'].value_counts()

3.570    2
3.440    2
1.615    1
2.320    1
5.345    1
2.465    1
3.460    1
1.513    1
1.835    1
2.780    1
3.190    1
4.070    1
1.935    1
3.150    1
3.215    1
5.424    1
3.520    1
2.140    1
3.845    1
2.200    1
2.620    1
2.875    1
Name: wt, dtype: int64

In [15]:
df['wt'].head()

0    2.620
1    2.875
2    2.320
3    3.215
5    3.460
Name: wt, dtype: float64

In [16]:
df['wt'].fillna(df['wt'].mean(),inplace=True)

In [17]:
round(100*(df.isnull().sum()/len(df.index)),2)

model    0.0
mpg      0.0
cyl      0.0
wt       0.0
qsec     3.7
vs       0.0
am       0.0
gear     0.0
carb     0.0
dtype: float64

In [18]:
df=df[~np.isnan(df['qsec'])]

In [19]:
round(100*(df.isnull().sum()/len(df.index)),2)

model    0.0
mpg      0.0
cyl      0.0
wt       0.0
qsec     0.0
vs       0.0
am       0.0
gear     0.0
carb     0.0
dtype: float64